@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap');


:root {

	/*Main*/
	--main-text-color: #191a2c;
	--main-border: #f2f2f2;

	--font-color-left: #838898;
	--font-color-right: #84858e;

	--link-color-left: #007bff;
	--link-color-right: #007bff;

	--input-text-color: #515151;

	--muted-text-color: #9a9a9a;
	--muted2-text-color: #bcbcbc;


	--light-gray-border: #f2f2f2;
	

	/*Nav*/
	--nav-bg-color: #fff;
	--nav-border-color: #eaeaea;


	/*Dropdown*/
	--dropdown-bg-color: #fff;


	/*Sidebar*/
	--sidebar-bg: #fafafa;
	--sidebar-link-bg-hover-color: #f2f2f2;
}

html, body {
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	margin:0px;
	padding:0px;
	height: 100%;
	width: 100%;
	letter-spacing: 0.7px;
	color: var(--main-text-color);
}





/* Nav header
--------------------------------------------------------------------------- */
nav {
	background-color: var(--nav-bg-color);
	border-bottom: 1px solid var(--nav-border-color);
}

nav#nav-header {
	line-height: normal;
	padding-top:13px;
}

nav#nav-header .nav-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	/* grid-gap: 1rem; */
	max-height: 51px;
	border:0px solid red;
}
nav#nav-header .nav-wrapper .logo { padding-top:0px; padding-left:15px; }
nav#nav-header .nav-wrapper .tools { text-align:right; padding-right:15px; padding-top:3px; }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	nav#nav-header .nav-wrapper .nav-user { display:none; }
	nav#nav-header .nav-wrapper .logo   { grid-column-start: 1; grid-column-end: 11; text-align:center; padding-left:50px; }
	nav#nav-header .nav-wrapper .nav-search { display:none; }
	nav#nav-header .nav-wrapper .tools  { grid-column-start: 11; grid-column-end: 13; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	nav#nav-header .nav-wrapper .nav-user { display:none; }
	nav#nav-header .nav-wrapper .logo   { grid-column-start: 1; grid-column-end: 11; text-align:center; padding-left:100px; }
	nav#nav-header .nav-wrapper .nav-search { display:none; }
	nav#nav-header .nav-wrapper .tools  { grid-column-start: 11; grid-column-end: 13; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	nav#nav-header .nav-wrapper .nav-user { display:inline-block; }
	nav#nav-header .nav-wrapper .logo   { grid-column-start: 1; grid-column-end: 5; text-align:left; padding-left:15px; }
	nav#nav-header .nav-wrapper .nav-search { grid-column-start: 5; grid-column-end: 10; display:block; }
	nav#nav-header .nav-wrapper .tools  { grid-column-start: 11; grid-column-end: 13; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	nav#nav-header .nav-wrapper .nav-user { display:inline-block; }
	nav#nav-header .nav-wrapper .logo   { grid-column-start: 1; grid-column-end: 5; text-align:left; padding-left:15px; }
	nav#nav-header .nav-wrapper .nav-search { grid-column-start: 5; grid-column-end: 10; display:block; }
	nav#nav-header .nav-wrapper .tools  { grid-column-start: 11; grid-column-end: 13; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	nav#nav-header .nav-wrapper .nav-user { display:inline-block; }
	nav#nav-header .nav-wrapper .logo   { grid-column-start: 1; grid-column-end: 5; text-align:left; padding-left:15px; }
	nav#nav-header .nav-wrapper .nav-search { grid-column-start: 5; grid-column-end: 10; display:block; }
	nav#nav-header .nav-wrapper .tools  { grid-column-start: 11; grid-column-end: 13; }
}




/* Nav header content
--------------------------------------------------------------------------- */

.app-search .search-container { display:flex; flex-direction:row; height:40px; border:1px solid #eaeaea; border-radius:6px; }
.app-search .search-container .search-input { flex:1 1 auto; }
.app-search .search-container .search-btn { flex:0 0 40px; max-height: 30px; }

.app-search .search-container .search-input input {
	background-color: transparent;
    border: 0px solid red;
    border-bottom: 0px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: auto;
    width: 100%;
    font-size: 18px;
    margin: 0;
    padding: 8px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: inherit;
    box-sizing:inherit;
    -webkit-transition: none;
    transition: none;
}

.app-search .search-container .search-btn button {
    display: inline-block;
    border: none;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 100%;
	height: 38px;
}

.app-search .search-container .search-btn button:hover,
.app-search .search-container .search-btn button:focus {
    background: #0053ba;
}

.app-search .search-container .search-btn button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.app-search .search-container .search-btn button:active {
    transform: scale(0.99);
}

nav a.sidenav-trigger, nav a.sidenav-trigger i {
	display: inline-block;
	line-height: normal;
	float: none;
}

nav#nav-header a.sidenav-trigger {
	font-size: 2rem;
	vertical-align: top;
}

nav#nav-header {
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
nav#nav-header a {
	color: #303030;
}
nav#nav-header ul a:hover {
	background-color: transparent;
	font-weight: 500;
}

nav#nav-header .page-logo {
	font-size: 1.3rem;
	font-weight: 600;
	color:#303030;
	position: relative;
}
nav#nav-header .page-logo img {
	/* max-height: 35px; */
	max-height: 35px;
	vertical-align: middle;
}

#main {
	padding-bottom: 100px;
}







/* Main page content
--------------------------------------------------------------------------- */

#main .page-item .page-content.page-padding { padding:0px 35px 35px 35px; }
#main .page-item .page-top-space { margin-top:45px; }




/* Page sidebar
--------------------------------------------------------------------------- */

.page-nav-sidebar {
	display: none;
	position: fixed;
	background-color: var(--sidebar-bg);
	height: 100%;
	width: 250px;
	z-index: 3;
	border-right: 1px solid var(--sidebar-border-color);
	overflow: auto;
	scrollbar-width: thin;
}

/* width */
.page-nav-sidebar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.page-nav-sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(224, 224, 224); 
  border-radius: 10px;
}
 
/* Handle */
.page-nav-sidebar::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163); 
  border-radius: 10px;
}

/* Handle on hover */
.page-nav-sidebar::-webkit-scrollbar-thumb:hover {
  background: #818181; 
}

.page-nav-sidebar .sidebar-content .sidebar-header {
	height: 65px;
	border-bottom: 1px solid var(--main-border);
	display: flex;
	flex-direction: row;
	font-size: 1.1em;
	color:#fff;
}

.page-nav-sidebar .sidebar-content .sidebar-header .title { flex:1 1 auto;  }
.page-nav-sidebar .sidebar-content .sidebar-header .title a { font-weight:500; color:var(--main-text-color); display:block; padding:20px; }
.page-nav-sidebar .sidebar-content .sidebar-header .title a:hover { background-color:transparent; color:var(--main-link-hover-color); }
.page-nav-sidebar .sidebar-content .sidebar-header .tools { flex:0 0 50px; }
.page-nav-sidebar .sidebar-content .sidebar-header .tools a { color: var(--sidebar-text-color); font-size: 1.3rem; display:block; padding:17px;  }
.page-nav-sidebar .sidebar-content .sidebar-header .tools a:hover { color: var(--sidebar-link-bg-hover-color); }

.page-nav-sidebar .sidebar-content a.home:hover {
	color:var(--sidebar-link-color-hover); background-color:var(--sidebar-link-bg-color-hover);
}

.page-nav-sidebar .sidebar-content a.nav-item {
	font-weight:400; color:var(--main-text-color); display:block; padding:10px 20px; font-size:1rem;
}

.page-nav-sidebar .sidebar-content a.nav-item:hover {
	background-color:var(--sidebar-link-bg-hover-color); color:var(--main-link-hover-color);
}




.page-nav-sidebar .sidebar-content { padding-bottom:100px; }

.page-nav-sidebar .sidebar-content ul { list-style:none; margin:0px; padding:0px; }
.page-nav-sidebar .sidebar-content ul li a { display:block; color:var(--sidebar-link-color); padding:3px 10px; text-decoration:none; }
.page-nav-sidebar .sidebar-content ul li a:hover { color:var(--sidebar-link-color-hover); background-color:var(--sidebar-link-bg-color-hover); }

.page-nav-sidebar .sidebar-content ul.sidebar-list-parent { margin-bottom:15px; }
.page-nav-sidebar .sidebar-content ul.sidebar-list-parent li { font-size:0.9rem; font-weight:500; }
.page-nav-sidebar .sidebar-content ul.sidebar-list-parent li .category { padding-left:20px; }
.page-nav-sidebar .sidebar-content ul.sidebar-list-parent li a { padding-left:20px; }

.page-nav-sidebar .sidebar-content ul.sidebar-list-child li { font-size:0.9rem; font-weight:500; }
.page-nav-sidebar .sidebar-content ul.sidebar-list-child li .category { padding-left:20px; }
.page-nav-sidebar .sidebar-content ul.sidebar-list-child li a { padding-left:30px; position: relative; }

.page-nav-sidebar .sidebar-content .sidebar-section {
	margin-top:20px;
}

.page-nav-sidebar .sidebar-item .logo {
	margin-right: 6px;
	position: relative;
}
.page-nav-sidebar .sidebar-item .logo img {
	max-height: 15px;
	max-width: 15px;
}







/* Headlines
--------------------------------------------------------------------------- */
h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.9rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}





/* Div
--------------------------------------------------------------------------- */

.display-admin {
	display: none;
}

.help {
	color:var(--muted-text-color);
}

.noResult {
	color:var(--muted-text-color);
	margin: 5% 0;
	text-align: center;
	font-size: 1.4rem;
}

.badge {
	color:#fff !important;
	border-radius: 6px;
	font-size: 0.7rem !important;
	font-weight: 600;
	line-height: normal !important;
	height: auto !important;
	padding: 5px 5px !important;
}

.badge.tags {
	background-color: blue;
	float:left;
	margin-left:0px;
	margin-right:5px;
}

table .tdcenter { text-align:center; }


.avatar-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #5c96df;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	line-height: 30px;
	color:#fff;
	font-size: 80%;
}




.page-tools {
	margin-top:42px;
	font-size:1.3rem;
	text-align: right;
}
.page-tools a { margin-right:15px; }



/* User dropdown
--------------------------------------------------------------------------- */
.dropdown-trigger-user {
	cursor: pointer;
}
.nav-top-user-image {
	height: 40px;
	width: 40px;
	border: 0px solid red;
	margin-top:11px;
}

ul.dropdown-user {
	width: 200px;
}

#dropdown-user {
  top: 100% !important;
  top: 60px !important;
}

.dropdown-content {
	background-color: var(--dropdown-bg-color);
}

.dropdown-content li>a, .dropdown-content li>span {
	color: var(--muted-text-color);
}

nav ul a:hover {
	background-color: var(--dropdown-item-bg-hover-color);
	color: var(--dropdown-item-text-hover-color);
}

nav .avatar-circle {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #5c96df;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	line-height: 35px;
}





/* Forms
--------------------------------------------------------------------------- */

.input-field>label {
	color: black;
}

form .help {
	font-size: 0.7rem;
	color: #838898;
	padding:5px;
}

form .input-border {
	border: 1px solid #eaeaea;
	border-radius: 8px;
	margin-bottom: 6px;
	padding:5px;
}

form h4 {
	font-size: 1.2rem;
	font-weight: 500;
}

form section {
	margin-top:15px;
	margin-bottom:15px;
}

.input-box {
	border: 1px solid #eaeaea;
	border-radius: 8px;
	margin-top: 25px;
	margin-bottom: 6px;
	padding:15px;
}






/* Apps
--------------------------------------------------------------------------- */

.app-tile {
	border: 1px solid #eaeaea;
	padding:15px;
}
.app-tile .title {
	font-size: 1.1rem;
	font-weight: bold;
}




.apps-list .card {
	border-radius: 8px;
}
.apps-list .card-action {
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}
.apps-list .card-image {
	height: 200px;
}
.apps-list .card-image-inner {
	display: block;
	height: 200px;
	background-size: cover;
  	background-position: center center;
}





.apps-list .card-title {
	display: block;
	width: 100%;
	height: 100px;
	color:#fff;
	border: 0px solid red;
	background: linear-gradient(to bottom, transparent 0%, #4b4b4b 100%);
	padding: 50px 24px 0px 24px !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

.apps-list .card-content {
	min-height: 68px;
}


.apps-list .app-card-outer {
	vertical-align: top;
}

.apps-list .app-card {
	margin:5px 5px 20px 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.apps-list .app-card-outer { display: block; width:100%; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.apps-list .app-card-outer { display: inline-block; width: calc((100% / 2) - 3px); }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.apps-list .app-card-outer { display: inline-block; width: calc((100% / 3) - 3px); }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.apps-list .app-card-outer { display: inline-block; width: calc((100% / 3) - 3px); }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.apps-list .app-card-outer { display: inline-block; width: calc((100% / 3) - 5px); }
}




.application-view h1 { font-size:1.8rem; font-weight:500; margin-top:0px; }
.application-view h2 { font-size:1.5rem; font-weight:600; margin-top:0px; }
.application-view h3 { font-size:1.2rem; font-weight:600; margin-top:35px; }
.application-view ul { padding-left:25px; list-style-type: disc; }
.application-view li { list-style-type: disc !important; }

.application-view .icon {
	text-align: center;
	font-size:4rem;
	border:1px solid #979797;
	background-color: #eaeaea;
	padding:40px;
	color:#979797;
}
.application-view .app-img {
	display: block;
	margin:4px;
	border:1px solid #888;
}
.application-view .secondary-images {
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}
.application-view .app-img.secondary-img { flex:0 0 45%; }
.application-view .app-img img { width:100%; }


.application-view .app-file { display:flex; border-bottom:1px solid var(--main-border); padding:15px 5px; }
.application-view .app-file .fileicon { flex:0 0 60px; text-align:center; font-size:2rem; }
.application-view .app-file .info { flex: 1 1 auto; }
.application-view .app-file .info .title { font-size:1.3rem; }
.application-view .app-file .info .desc { color:var(--muted-text-color); }
.application-view .app-file .info .desc .item { display:inline-block; margin-right:15px; }






/* Modals
--------------------------------------------------------------------------- */
.modal {
	background-color: #fff;
}
.modal-sm {
	max-width: 550px;
}

.modal-lg {
	width: 85%;
}





/* Item select row with icon
--------------------------------------------------------------------------- */
.item-select {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 3px solid #eaeaea;
	margin-bottom: 8px;
	border-radius: 8px;
	padding:15px;
	color: var(--main-text-color);
}

.item-select .icon {
	flex: 0 0 80px;
	font-size: 2.5rem;
	text-align: center;
}
.item-select .info {
	flex: 1 1 auto;
}
.item-select .info .title {
	font-size: 1.3rem;
}
.item-select .info .description {
	margin-top:8px;
	font-size: 0.8rem;
	color: var(--muted-text-color);
}
.item-select .info .owner {
	margin-top:8px;
	font-size: 0.8rem;
	color: var(--muted-text-color);
}

.item-select:hover {
	border: 3px solid #308aff;
}

.item-select .info .owner img {
	max-height: 20px;
	vertical-align: bottom;
}

.item-select .icon img {
	max-width: 70px;
}


/* Large icon/image */
.item-select.icon-lg .icon { flex: 0 0 150px; }
.item-select.icon-lg .icon img { max-width: 110px; }

.item-select .icon .avatar-circle {
	width: 60px;
	height: 60px;
	line-height: 60px;
}



/* Alerts
--------------------------------------------------------------------------- */
.alert {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  margin-bottom: 15px;
  border-radius: 8px;
}

.alert-header {
	border-radius: 0px;
}

.alert.alert-success {
    background-color: #4CAF50;
}

.alert.alert-info {
    background-color: #2196F3;
}

.alert.alert-warning {
    background-color: #ff9800;
}

.alert.alert-danger {
    background-color: #f44336;
}

.alert .row { margin-bottom:0px; }





/* Items
--------------------------------------------------------------------------- */
.item-list .item {
	margin-bottom: 25px;
}
.item-list .item .title {
	font-size: 0.8rem;
	font-weight: 500;
	color: #858585;
}
.item-list .item .value {
	font-size: 1.3rem;
}

.item-list .item .value i {
	font-size: 0.9rem;
	color: var(--muted-text-color);
}
.item-list .item .tools {
	font-size: 0.8rem;
	margin-top:7px;
}




/* Items
--------------------------------------------------------------------------- */
.tabs .tab {
    display: inline-block;
    text-align: left;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
	padding-right: 25px;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: var(--link-color-left);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #fff !important;
}


.tabs .tab a {
    color: var(--main-text-color);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
}

.tabs .indicator {
	background-color: var(--link-color-left);
} /*Color of underline*/





/* Select2
--------------------------------------------------------------------------- */
.sel2-search-item { display:flex; }
.sel2-search-item .icon { flex:0 0 45px; text-align:left; }
.sel2-search-item .icon img { width:80%; }
.sel2-search-item .content { flex: 1 1 auto; }
.sel2-search-item .content .title { font-size:1rem; }
.sel2-search-item .content .subtitle { font-size:0.8rem; color: var(--muted2-text-color); }




/* Bullet list
--------------------------------------------------------------------------- */
ul.bullets {
}

ul.bullets li {
	list-style-type: disc;
	margin-left:25px;
}


/* 


.wrapper-content {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 50px 150px;
  border: 3px solid #48c9b0;
  font-family: Roboto, Helvetica;
}

.title {
  display: block;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 700;
  color: rgba(52, 73, 94, 0.3);
  letter-spacing: 0;
  font-size: 18px;
  line-height: 1.72222;
}




.select2-container {
  min-width: 200px;
  font-family: Roboto, Helvetica;
}


.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  background: #48c9b0;
}

.select2-container--flat .select2-container--focus .select2-selection--multiple {
  border: 1px solid #16a085;
}
.select2-container--flat .select2-results__option--highlighted[aria-selected] {
  background: #16a085 !important;
  color: #ffffff;
}
.select2-container--flat .select2-results__option[aria-selected=true] {
  background: #16a085;
  color: #fff;
  opacity: 0.8;
}
.select2-container--flat .select2-selection--single {
  border-radius: 0px;
}
.select2-container--flat.select2-container--open .select2-selection__arrow b {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.select2-container--flat span.select2-search input {
  height: 30px !important;
}

.select2-container .select2-choice {
  border: 2px solid #dce4ec;
  height: 36px;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-indent: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}
.select2-container .select2-choice div {
  border-left: 2px solid #dce4ec;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.select2-container .select2-choice .select2-arrow {
  border: 0px;
  border-radius: 0px;
  background: transparent;
  background-image: none;
}
.select2-container *:focus {
  outline: 0px;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #dce4ec;
  border-radius: 0px;
}

.select2-drop {
  margin-top: -2px;
  border: 2px solid #dce4ec;
  border-top: 0;
  border-radius: 0px !important;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-drop.select2-drop-above {
  margin-top: 2px;
  border-top: 2px solid #dce4ec;
  border-bottom: 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.select2-search {
  margin-top: 3px;
}
.select2-search input {
  height: 26px;
  border: 2px solid #dce4ec;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice .select2-choice div {
  background: transparent;
  border-left: none;
  filter: none;
}

.select2-results {
  padding: 0 0 0 0px;
  margin: 4px 0px 0px 0;
}
.select2-results .select2-highlighted {
  background: #16a085;
  color: #fff;
  border-radius: 0px;
}

.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  border: 2px solid #dce4ec;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}





.select2-container--flat .select2-selection--single {
  background: #48c9b0;
  border: 0px;
  height: 34px;
}
.select2-container--flat .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 34px;
}
.select2-container--flat .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--flat .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  top: 60%;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  width: 0;
}
.select2-container--flat .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}
.select2-container--flat .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}




.select2-container--flat .select2-selection--multiple {
  border: 1px solid #16a085;
}
.select2-container--flat .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #16a085;
  cursor: pointer;
}
.select2-container--flat .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--flat .select2-selection--multiple .select2-selection__choice {
  background-color: #48c9b0;
  color: #fff;
  border: 1px solid #48c9b0;
  border-radius: 0px;
  padding: 3px 5px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.select2-container--flat .select2-selection--multiple .select2-selection__choice__remove {
  color: #16a085;
  margin-right: 6px;
  margin-left: 6px;
  float: right;
} */