body, html {
	margin:0px;
	padding: 0px;
}

.login-frame {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: url('../assets/images/wp/wp15.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.login-frame a.link { color:#fff; text-decoration:none; }

.errorLogin { color:#ff1e1e; font-weight:normal; }


.login-container {
	position: fixed;
	height: 100%;
	/* width: 400px;
	margin-left:80px; */
	left:0;
	top:0;
	z-index: 9999;
	color: #000;
	
	background-color: rgba(255, 255, 255, 0.85);
}

.login-container .bottom a { color: #rgb(62, 85, 218); border-bottom:1px dotted rgb(62, 85, 218); }
.login-container .bottom a:hover { text-decoration: none; }

.login-container-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.login-container .header { font-size:2rem; font-weight:200; }
.login-container .header img { width: 89%; }

.login-container-inner .top { flex: 1 1 auto; }
.login-container-inner .center { flex: 1 1 auto; }
.login-container-inner .bottom { flex: 0 1 90px; text-align: center; font-size:11px; padding:0px 25px; }

.login-container-inner .center .header { padding: 0px 30px; text-align:center; }

.login-container .form { padding:0px 30px; }

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.login-container .header { margin-bottom: 15px; width: 100%; }
	.login-container { width:100%; margin-left:0px; }
	.login-container-inner { overflow:auto; justify-content:flex-start; }
	/*.login-container-inner .top { flex: 1 1 0%; }*/
	.login-container-inner .center { flex: 1 1 auto; }
	.login-container-inner .bottom { flex: 0 1 90px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.login-container .header { margin:15px 0px; width: 100%; }
	.login-container-inner { overflow:auto; justify-content:flex-start; }
	.login-container { width:100%; margin-left:0px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.login-container .header { margin:45px 0px; width: 100%; }
	.login-container-inner { overflow:hidden; min-height:auto; }
	.login-container { width:400px; margin-left:80px; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.login-container .header { margin:45px 0px; width: 100%; }
	.login-container { width:400px; margin-left:80px; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.login-container .header { margin:45px 0px; width: 100%; }
	.login-container { width:400px; margin-left:80px; }
}


.login-form {
	padding:0px 25px;
}


.login-frame .form-sublink {
	padding-top:45px;
}

input#input-code {
	text-align: center;
	font-size: 4rem;
	height: auto;
}

.help {
	color: #616161;
	font-size: 0.9rem;
}



.alert {
	margin: 20px 10px 30px 10px;
	padding:10px 5px;
	border-radius: 8px;
	text-align: center;
}

.alert.success {
	background-color:#c4ffb5;
	color: #616161;
}

.alert.error {
	background-color:#ffb5b6;
	color: #616161;
}



.modal h2 {
	font-size: 1.9rem;
}

.modal h3 {
	font-size: 1.4rem;
	border-bottom: 1px dotted #adadad;
	margin-top:45px;
}

.modal h4 {
	font-size: 1.3rem;
	margin-top:25px;
}

.modal h5 {
	font-size: 1.2rem;
}